@import '../../utils/utils.scss';

.Tag {
  display: inline-block;
  padding: 4px 5px;
  border-radius: 1rem;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  &.priority {
    background: $red;
  }
  &.important {
    background: $blue;
  }
  &.notice {
    background: $yellow;
  }
}
