@import './utils/utils.scss';

body {
  width: max-content;
  background: #f7f7f7;
  font-size: 0.9rem;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Noto Sans KR', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
